<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArgusApp"
        tools:targetApi="31">

        <!-- Add Firebase Messaging Service -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Add FCM notification channel metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".ui.citizen.ReportDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.citizen.CitizenProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.citizen.CreateReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.police.PoliceReportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminReportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.citizen.CitizenMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.police.PoliceMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegisterPoliceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.police.PoliceProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ArgusApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Play Services version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

    <!-- Feature declarations -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Add FCM-related permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>